.col-left{
    background-color: darkgrey;
}
.main-wrapper {
    height: 100vh;  
  }
  
  .section {
    height: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-action{
    margin-top: 10px;
  }
  .example-header-image {
    background-image: url('https://img.apksum.com/0e/app.skd.chatroom/3.0.0/icon.png');
    background-size: cover;
  }