.col-left{
    background-color: darkgrey;
}
.main-wrapper {
    height: 100vh;  
  }
  
  .section {
    height: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }