<div class="container-fluid">
  <div class="row main-wrapper">
    <div class="col-3 col-left">
      <div *ngIf="this.my_rooms.length == 0" class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>RoomName</mat-label>
          <input
            matInput
            [(ngModel)]="roomName"
            maxlength="256"
            placeholder="enter room name"
          />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addItem(roomName)">
          Add
        </button>
      </div>
      <button
        *ngIf="this.my_rooms.length"
        mat-raised-button
        color="danger"
        (click)="delete()"
      >
        Delete Myroom
      </button>

      <button
      *ngIf="videoCallRoom"
      mat-raised-button
      color="danger"
      (click)="disconnect()"
    >
      Disconnect
    </button>

      <mat-list role="list">
        <mat-list-item *ngFor="let item of rooms | async" role="listitem">
          {{ item?.name }}
          <button
          *ngIf="item.owner"
          mat-raised-button
          color="danger"
          (click)="join(item.owner)"
        >
         Join
        </button>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col-9">

         
    <iframe *ngIf="videoCallRoom"
    [src]='videoCallRoom'
    width="800px"
    height="640px"
    scrolling="auto"
    allow="microphone; camera"
  ></iframe>
    </div>
  


</div>
